GoogleBooksSearch.xcodeproj/project.xcworkspace/contents.xcworkspacedata
GoogleBooksSearch.xcodeproj/project.xcworkspace/xcuserdata/regl.xcuserdatad/UserInterfaceState.xcuserstate
GoogleBooksSearch.xcodeproj/xcuserdata/regl.xcuserdatad/xcschemes/GoogleBooksSearch.xcscheme
GoogleBooksSearch.xcodeproj/xcuserdata/regl.xcuserdatad/xcschemes/xcschememanagement.plist
